
h1
{
  text-align:center;
  color: rgb(125,65,65);
  background-color: rgb(100,100,100);
  font-size: 40pt;
}
section
{
  color: rgb(125,65,65);
  float: right;
}
p
{
  text-align:center;
}
img{
  border-radius: 25%;
  opacity: 0.5;
}
div
{
  text-align: center;
}
